{% extends 'website/base.html' %} {% block title %} - About Us {% endblock %} {% block content %}

<div class="image">
    <div class="button-btn">

    </div>
</div>
</div>

<div class="container pt-5">
    <div class="row about-us-info ">
        <div class="col-md-8 col-sm-12">
            <h3>Introduction</h3>
            <br>
            <hr>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea omnis ex neque fuga minus. Magni, facilis accusamus corrupti aspernatur corporis assumenda ducimus quasi asperiores nemo maiores omnis! Distinctio, doloribus doloremque, nulla libero
                qui dolorum eum ex at temporibus expedita labore reprehenderit magni ducimus id repudiandae reiciendis quisquam iure culpa omnis fugiat minima officia dolores eligendi accusantium? Similique nostrum eos nisi doloribus! Sapiente voluptatem
                perspiciatis consequatur voluptatibus soluta dolorem ipsa fuga ratione maxime quam atque, tempora, in rerum quibusdam, ex assumenda laboriosam cum dolorum quos nemo vero optio aspernatur deleniti? Incidunt corporis accusantium quis enim
                laborum neque minima nemo optio adipisci magni odio aperiam, officiis praesentium, mollitia ab libero ipsum consequuntur iure quos soluta voluptates totam. Ullam incidunt numquam quas non eligendi, facere quaerat quo architecto fugit enim
                rem sit odio ex aliquid temporibus dolores illo. Deserunt voluptates velit obcaecati beatae magni quidem odit sed eum assumenda consequatur. Tenetur sed, facilis magni obcaecati eius est recusandae placeat molestias minus ex consequatur

            </p>
            <div class="about-list-top pl-5">
                <ul>

                    <li><a href="#">harum voluptatem minima</a></li>
                    <li><a href="#">harum voluptatem minima</a></li>
                    <li><a href="#">harum voluptatem minima</a></li>
                    <li><a href="#">harum voluptatem minima</a></li>


                </ul>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 about-card-right bg-light">
            <h3>Usefull links</h3>
            <hr>

            <div class="about-list pl-5">
                <ul>

                    <li><a href="#">harum voluptatem minima</a></li>
                    <li><a href="#">harum voluptatem minima</a></li>
                    <li><a href="#">harum voluptatem minima</a></li>
                    <li><a href="#">harum voluptatem minima</a></li>
                    <li><a href="#">harum voluptatem minima</a></li>
                    <li><a href="#">harum voluptatem minima</a></li>
                    <li><a href="#">harum voluptatem minima</a></li>
                    <li><a href="#">harum voluptatem minima</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>

<section class="bg-light">

    <div class="container">

        <div class="row about-us-info ">
            <div class="col-md-8 col-sm-12">
                <h3>What we do?</h3>
                <br>
                <hr>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea omnis ex neque fuga minus. Magni, facilis accusamus corrupti aspernatur corporis assumenda ducimus quasi asperiores nemo maiores omnis! Distinctio, doloribus doloremque, nulla
                    libero qui dolorum eum ex at temporibus expedita labore reprehenderit magni ducimus id repudiandae reiciendis quisquam iure culpa omnis fugiat minima officia dolores eligendi accusantium? Similique nostrum eos nisi doloribus! Sapiente
                    voluptatem perspiciatis consequatur voluptatibus soluta dolorem ipsa fuga ratione maxime quam atque, tempora, in rerum quibusdam, ex assumenda laboriosam cum dolorum quos nemo vero optio aspernatur deleniti? Incidunt corporis accusantium
                    quis enim laborum neque minima nemo optio adipisci magni odio aperiam, officiis praesentium, mollitia ab libero ipsum consequuntur iure quos soluta voluptates totam. Ullam incidunt numquam quas non eligendi, facere quaerat quo architecto
                    fugit enim rem sit odio ex aliquid temporibus dolores illo. Deserunt voluptates velit obcaecati beatae magni quidem odit sed eum assumenda consequatur. Tenetur sed, facilis magni obcaecati eius est recusandae placeat molestias minus
                    ex consequatur

                </p>
                <div class="about-list pl-5">
                    <ul>


                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 about-card-right " style="background-color: #fff;">
                <h3>What client wants?</h3>
                <hr>

                <div class="about-list pl-5">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, ad sed nobis ipsam maiores eveniet tenetur, autem quae aut aspernatur fuga consequuntur facere debitis, tempore architecto odit esse excepturi odio. Lorem, ipsum dolor
                    </p>
                </div>
            </div>
        </div>



    </div>

</section>

<!-- section for  our teams -->


<!--  endsection for  our teams -->

{% endblock %}