{% extends 'website/base.html' %} {% block title %} - Sevices {% endblock %} {% block content %}

<div class="image">
    <div class="button-btn">

    </div>
</div>



<div class="container pt-5">
    <div class="row gx-10 ">
        <div class="col-md-8 col-sm-8 col-xs-8 ">
            <div class="conatinaer service-body  bg-light p-4">
                <h3>Service Title</h3>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos dolor nisi aliquid suscipit dolorem officia pariatur laborum itaque alias, porro nostrum, quasi ipsam in? Iste culpa voluptate, velit veritatis quas ipsum tempora cumque optio
                    mollitia dolores totam aut consectetur officiis corporis nam quidem, aperiam qui consequatur. Blanditiis suscipit ad cupiditate officiis voluptas aperiam, cum aliquid mollitia corporis nisi pariatur placeat animi exercitationem repudiandae
                    eaque eius saepe atque ullam quasi libero incidunt id voluptates? Voluptatem pariatur error mollitia molestias laboriosam reiciendis atque numquam tenetur, blanditiis excepturi vero quasi facilis ab sequi natus debitis ipsum asperiores!
                    Saepe iusto veniam ratione! Reprehenderit, ad?</p>
                <div class="role-of-CA " style="padding: 2px 40px;">
                    <ul>
                        <li> Review the company’s financial and business systems and analyze possible risks.</li>
                        <li>Maintain accounting records and prepare accounts and management reports for management review.
                        </li>
                        <li>
                            Produce recommendation reports post auditing to assist the management in making informed business decisions.
                        </li>
                        <li>
                            Problem-solving to determine where errors might be occurring or to suggest ideas that would
                        </li>
                        <li>
                            Arrange financial management reports including financial planning and forecasting.
                        </li>
                        <li>
                            Ensure all expenses are accounted as per accounting principles, in compliance with contracts and in line with chart of accounts, if any
                        </li>
                        <li>
                            Ensure Compliance of Income Tax Act, 2058 and other relevant acts.
                        </li>
                        <li>Support Sr. management of RM Group on various financial related matters on an on-going basis.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 bg-light ">
            <div class="container  social-post">
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FSynergy-Management-and-Accounting-Consultancy-107895614345405&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                    width="340" height="600" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </div>
        </div>
    </div>
    <!-- next row start -->

    <div class="row gx-10  pt-3">
        <div class="col-md-8 col-sm-8 col-xs-8 ">
            <div class="conatinaer service-body  bg-light p-4">

            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 bg-light ">
            <div class="container  social-post pt-2 pl-5 ">
                <div class="d-flex">
                    <!-- <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Ffb.watch%2F3KiZQDT8ie%2F&width=500&show_text=false&height=281&appId" width="130" height="150 " style="border:none;overflow:hidden " scrolling="no " frameborder="0
                    " allowfullscreen="true " allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share " allowFullScreen="true "></iframe> -->

                    <!-- youtube -->
                    <!-- <iframe style="padding-left: 5px;" width="140 " height="73" src="https://www.youtube.com/embed/NPluuB2e6F0 " frameborder="0 " allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture " allowfullscreen></iframe> -->
                </div>

                <!-- another video -->
            </div>
        </div>


    </div>
</div>







{% endblock %}